<app-header></app-header>
<div class="container" id="slotform" style="margin-top: 50px;">
<div class=" ">
    <h3 class="text-center"><u>Edit profile</u></h3>
    <form>
      <div class="form-group">
        <label>Admin Id</label>
        <input type="text" class="form-control" id="adminId"
           name="adminId">
      </div>
      <div class="form-group">
        <label>Admin Name</label>
        <input type="text" class="form-control" id="adminName"
          name="adminName">
      </div>
      <div class="form-group">
        <label>Contact No</label>
        <input type="text" class="form-control" id="contactNumber"
           name="contactNumber">
      </div>
      <div class="form-group">
        <label>Email</label>
        <input type="text" class="form-control" id="email"
           name="email">
      </div>
      <div class="form-group">
        <label>Password</label>
        <input type="password" class="form-control" id="password"
          name="password">
      </div>
      <div class="text-center">
        <button style="margin-top: 25px;" type="submit" class="btn update">&nbsp; Update</button>
      </div>
    </form>
  </div>
</div>
  <app-footer></app-footer>